<div class="container mt-4 pokemon-filter">

    <h1>Pokédex API</h1>

    <div class="filter-buttons mb-3" id="pokemon-filters">
        <button type="button" data-type="all" class="btn btn-primary active">All</button>
    </div>

    <div id="pokemon-api-grid" class="pokemon-grid"></div>

    <div class="pagination-controls mt-3 text-center">
        <button class="prev-page">Prev</button>
        <button class="next-page">Next</button>
    </div>

</div>